$maincolor:rgb(212, 60, 51);

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.stickyBar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .topBar {
        background-color: $maincolor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;

        div:first-child {
            display: flex;

            svg {
                width: 142px;
                height: 64px;
            }
        }

        div:nth-child(2) {
            border-radius: 42.42px;
            border: 1px solid white;
            padding: 5px 10px;

            a {
                color: white;
            }
        }

    }

    nav {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid rgb(204, 204, 204);

        span {
            padding: 10px 0;
            position: relative;
            font-size: 15px;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: -10%;
                right: -10%;
                bottom: -1px;
                height: 2px;
                background-color: $maincolor;
            }
        }

    }
}

h4 {
    position: relative;
    padding: 5% 0;
    padding-left: 5%;
}

h4::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 22px;
    background-color: $maincolor;
    left: 0%;
}

main {
    margin-top: 106px;

    .albumList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .album {
            width: 33%;
            margin-bottom: 17px;

            div {
                position: relative;
            }

            img {
                width: 100%;
            }

            span {
                color: white;
                position: absolute;
                top: 1%;
                right: 2%;
                font-size: small;

                svg {
                    width: 1em;
                    height: 1em;
                    position: absolute;
                    left: -14px;
                    top: 3px;
                }
            }

            p {
                padding: 0px 2px 0px 6px;
                font-size: smaller;
            }
        }
    }

    .songList {

        margin-top: 10px;

        .singleSong {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 10px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);

            div:first-child {
                .songName {
                    font-size: 17px;
                }

                .singer {
                    font-size: 12px;
                    color: #888;

                    svg {
                        position: relative;
                        top: 2px;
                        width: 1.3em;
                        height: 1.3em;
                    }
                }
            }

            >div:nth-child(2) {
                border: 1px solid lightgray;
                margin-right: 10px;

                svg {
                    width: 2em;
                    height: 2em;
                    fill: lightgray;
                }
            }
        }
    }

    .recommend {
        background: url(../img/footer.png);
        text-align: center;

        svg {
            width: 230px;
            height: 44px;
            margin-top: 40px;
        }

        .download {
            color: $maincolor;
            border: 1px solid $maincolor;
            padding: 10px 40px;
            display: inline-block;
            border-radius: 38px;
            margin: 20px 0 10px 0;
        }

        .copyright {
            font-size: 12px;
            transform: scale(.75);
        }
    }

}