body {
  height: 100vh;
  // background: transparent url("//music.163.com/api/img/blur/5508553255245022") no-repeat;
  background: transparent url("../img/cover.jpg") no-repeat;
  background-size: cover;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

@keyframes myrotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logo svg {
  width: 92px;
  height: 17px;
  position: relative;
  left: 10px;
  top: 10px;
}

.disc {
  width: 273px;
  height: 273px;
  margin: 0 auto;
  padding-top: 40px;

  .circle {
    position: relative;

    img {
      position: absolute;
    }

    .disc-ring {
      width: 273px;
      z-index: 1;
      animation: myrotate 20s infinite linear;
      animation-play-state: running;
    }

    .disc-default {
      width: 253px;
      border-radius: 50%;
      left: 10px;
      top: 10px;
      animation: myrotate 20s infinite linear;
      animation-play-state: running;
    }

    .cover {
      width: 177px;
      left: 46px;
      top: 46px;
      border-radius: 50%;
      animation: myrotate 20s infinite linear;
      animation-play-state: running;
    }

    .disc-ring.playing,
    .disc-default.playing,
    .cover.playing {
      animation-play-state: paused;
    }

    .needdle {
      width: 96px;
      height: 137px;
      top: -61px;
      left: 127px;
      z-index: 2;
    }

    .playbtn {
      visibility: initial;
      position: absolute;
      top: 110px;
      left: 110px;
      border: 1px solid white;
      border-radius: 50%;
      padding: 0.6em;
      background-color: rgba(0, 0, 0, 0.3);

      svg {
        fill: #ffffff;
        width: 2em;
        height: 2em;
      }
    }

    .playbtn.active {
      visibility: hidden;
    }
  }
}

.lyric {
  margin: 25% 0 14% 0;
  color: #fefefe;
  text-align: center;
  height: 6.6em;
  overflow: hidden;

  .lyric-detail {
    margin-top: 0.2em;
    overflow: hidden;

    .lyric-wrap {
      transition: all .3s;
    }

    p {
      color: gray;
      line-height: 1.8em;
      font-size: 15px;
    }

    p.active {
      color: white;
    }
  }
}

footer {
  .lyriclink {
    text-align: center;
    margin-bottom: 9%;
    font-size: 14px;

    a {
      color: lightgray;
    }
  }

  .links {
    display: flex;
    justify-content: space-around;

    a {
      padding: 10px 65px;
      border: 1px solid #d33a31;
      color: white;
      border-radius: 20px;
    }

    a.active {
      background-color: #d33a31;
    }
  }
}